body {
    background-color: #f0f0f0;
}

/* #region slider */

.slides img {
    width: 100%;
    height: 500px;
    margin: auto;
    object-fit: cover;
}

.container {
    padding: 2rem;

}

.container_slides {
    position: relative;
}

.precedente,
.successiva {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    text-align: center;
    line-height: 2rem;
    background-color: red;
    position: relative;
    top: 250px;
}

.precedente {
    position: relative;
    right: 20px;

}

.successiva {
    position: relative;
    left: 20px;
}

.card.active {
    display: block;
}

.card:not(.card.active) {
    display: none;
}


.precedente:hover,
.successiva:hover {
    cursor: pointer;
}

i{
    color: #f0f0f0;
}

/* #endregion slider */

/* #region miniature */
.container_thumbnails{
  justify-content: center;
  gap: 1rem;
}   


.container_thumbnails > img{
    width: 150px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border: 2px solid green;  
}
/* #endregion miniature */


/* #region debug */


.debug .precedente,
.debug .successiva {
    border: 1px solid red;
}

/* #endregion debug */